<%- include('../partials/header') %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Editar série</h2>
        <form method="POST">
          <div class="form-group">
            <label for="serieName">Nome da série</label>
            <input type="text" value="<%= serie.name %>" name='name' id="serieName" class="form-control" aria-describedby="serieHelp" placeholder="Entre como nome da série">
            <small id="serieHelp" class="form-text text-muted">Nome da série a ser editado.</small>
          </div>
          <div class="form-group">
            <label for="serieStatus">Situação</label>
            <select name='status' class="form-control form-control-lg" size="3" id="serieStatus">
              <% labels.forEach(label => { %>
                <option 
                  value="<%= label.id %>"
                  <% if (serie.status === label.id) { %> selected="selected" <% } %>
                >
              <%=label.name%></option>
              <% }) %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>