<%- include('../partials/header') %>
      <div class="cold-1 text-white">
        <div class="mx-5">
          <nav class="navbar navbar-light">
            <div class="container-fluid">
              <div>
                <a class="navbar-brand"><h2>Séries</h2></a>
              </div>
              <div class="d-flex">
                <a href="/series/list" class="text-white px-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </a>
                <a href="#" class="text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" style="font-size: 32px">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
                  </svg>
              </a>
              </div>
            </div>
          </nav>
          <div class="text-center">
            <a  href="/series/new" class='btn btn-lg hot-1 text-white font-weight-bold'>Nova série</a>
            <div  class="text-center cold-3 rounded">
              <h4 class="mt-5 p-3">Todas as séries cadastradas</h4>
            </div>
          </div>
        </div>
        <div class="row mx-5 pb-5">
          <% series.forEach(serie => { %>
            <div class="col-sm  -12 col-md-12 col-lg-6 col-xl-4 px-0">
              <div class="card m-2 cold-2" href="/series/info/<%= serie._id %>">
                <div class="card-header card-app">
                  <h5 class="card-title">
                    <a href="/series/info/<%=serie._id%>" class="stretched-link text-white">
                      <%= serie.name%>
                    </a>
                  </h5>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="badge badge-secondary">
                      <%= labels.filter(label=> label.id === serie.status)[0].name %>
                    </span>
                  </h5>
                  <h6 class="card-subtitle mb-2"></h6>
                  <% if (serie.comments.length-1>=0) { %> 
                    <div class="card-body cold-0 rounded p-2 my-4">
                      <p class="card-text text-dark"><%= serie.comments[serie.comments.length-1] %></p>
                    </div>
                  <%} else { %> 
                    <p class="text-muted font-italic">
                      Nenhum comentário adicionado.
                    </p>
                  <% } %>
                  <a href="/series/edit/<%= serie._id %>" class="card-link">Editar</a>
                  <a href="/series/remove/<%= serie._id %>" class="card-link">Excluir</a>
                </div>
              </div>
            </div>
          <% }) %> 
        </div>
      </div>

<%- include('../partials/footer') %>
